.env
issues/.issues.lock
tools/target/
log/
bin/*
!bin/.gitkeep
state/
upload/
tmp/
.venv/
__pycache__/
ssh/known_hosts
ssh/known_hosts.old
ssh/idrac_rsa
ssh/idrac_rsa.pub
ssh/id_ed25519
ssh/id_ed25519.pub
